# Python
venv/
.venv/
__pycache__/
*.py[cod]

# IDEs (PyCharm, IntelliJ)
.idea/
.vscode/

# OS files
Thumbs.db
.DS_Store

# Игнорируем временные файлы draw.io
*.drawio.bkp

# Игнорируем логи и временные файлы
*.log
*.tmp
